In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
data = pd.read_csv('Para filtrar.csv')
data.drop('Unnamed: 0',axis = 1, inplace = True)
data_lluv = data[data.Soleado ==1]
data_lluv[data.Hora =='9:00'].describe()

C:\Users\USUARIO\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,Unnamed: 0.1,Energia [kWh],Irradiacion [Wh/m2],Temperatura de modulos [C],Lluvioso,Nublado,Soleado
count,133.000000,133.000000,133.000000,133.000000,133.0,133.0,133.0
mean,2614.669173,40.153778,750.382914,42.243772,0.0,0.0,1.0
std,1677.391051,8.923585,90.253166,4.501703,0.0,0.0,0.0
min,39.000000,0.000000,574.265833,29.046667,0.0,0.0,1.0
25%,1191.000000,33.289167,685.005000,39.060000,0.0,0.0,1.0
50%,2079.000000,41.065000,772.489167,43.200000,0.0,0.0,1.0
75%,4275.000000,46.012500,813.811667,45.555833,0.0,0.0,1.0
max,5475.000000,65.347500,941.987500,51.846667,0.0,0.0,1.0

In [14]:
promedios = []
desv = []
horas = data.Hora.unique()

for h in horas:
    promedios.append(data[data.Hora == h]['Irradiacion [Wh/m2]'].mean())
    desv.append(data[data.Hora == h]['Irradiacion [Wh/m2]'].std())

estats = pd.DataFrame({'Hora':horas,'Promedio':promedios,'Desviacion':desv})
estats.set_index('Hora',inplace = True)
estats

         Promedio  Desviacion
Hora
7:00   189.370182  109.302048
8:00   354.244176  176.658672
9:00   463.021567  215.963951
10:00  530.439156  247.390029
11:00  535.630262  263.046497
12:00  480.730073  259.766559
13:00  350.265122  195.562491
14:00  238.343834  150.413175
15:00  149.608231   97.757426
16:00   80.233135   47.309124