In [123]:
import sqlite3
import datetime as dt
import pandas as pd
import numpy as np

In [124]:
conn = sqlite3.connect('myDataBase.sqlite')

In [125]:
datos = pd.read_csv('Produccin.csv')

In [178]:
def tabla_sencilla(datos):
    datos['Potencia'] = datos['Potencia [kW]']
    datos['Insolacion'] = datos['Insolación [W/m²]']
    datos = datos.drop(['Potencia [kW]', 'Insolación [W/m²]'],axis= "columns")
    return datos

def datos_limpios(datos):
    datos = datos[datos['Potencia']!='x']
    datos['Potencia']=datos['Potencia'].apply(pd.to_numeric)
    datos['Insolacion']=pd.to_numeric(datos['Insolacion'])
    return datos

In [180]:
datos2 = tabla_sencilla(datos)
datos1 = datos_limpios(datos2)
datos1['Insolacion']

C:\Users\USUARIO\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\USUARIO\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

5        1.97
6       23.89
7      231.99
8      522.53
9      722.06
        ...
149      1.66
150     28.70
151    232.14
152    294.69
153    357.98
Name: Insolacion, Length: 88, dtype: float64

In [182]:
datos1.to_sql('Produccion',con=conn,dtype={'time':'TIMESTAMP'})

ValueError: Table 'Produccion' already exists.

In [183]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type= 'table';",conn))

         name
0  Produccion

In [184]:
print( datos1)
datos1

               Fecha  Potencia  Insolacion
5     8/28/2020 6:00      0.01        1.97
6     8/28/2020 7:00      1.03       23.89
7     8/28/2020 8:00     10.94      231.99
8     8/28/2020 9:00     26.58      522.53
9    8/28/2020 10:00     38.43      722.06
..               ...       ...         ...
149    9/3/2020 6:00      0.00        1.66
150    9/3/2020 7:00      1.27       28.70
151    9/3/2020 8:00     10.95      232.14
152    9/3/2020 9:00     15.33      294.69
153   9/3/2020 10:00     12.07      357.98

[88 rows x 3 columns]

               Fecha  Potencia  Insolacion
5     8/28/2020 6:00      0.01        1.97
6     8/28/2020 7:00      1.03       23.89
7     8/28/2020 8:00     10.94      231.99
8     8/28/2020 9:00     26.58      522.53
9    8/28/2020 10:00     38.43      722.06
..               ...       ...         ...
149    9/3/2020 6:00      0.00        1.66
150    9/3/2020 7:00      1.27       28.70
151    9/3/2020 8:00     10.95      232.14
152    9/3/2020 9:00     15.33      294.69
153   9/3/2020 10:00     12.07      357.98

[88 rows x 3 columns]

In [185]:
df = pd.read_sql("SELECT * FROM Produccion",conn)

In [186]:
df

    index            Fecha  Potencia  Insolacion
0       5   8/28/2020 6:00      0.01        1.97
1       6   8/28/2020 7:00      1.03       23.89
2       7   8/28/2020 8:00     10.94      231.99
3       8   8/28/2020 9:00     26.58      522.53
4       9  8/28/2020 10:00     38.43      722.06
..    ...              ...       ...         ...
83    149    9/3/2020 6:00      0.00        1.66
84    150    9/3/2020 7:00      1.27       28.70
85    151    9/3/2020 8:00     10.95      232.14
86    152    9/3/2020 9:00     15.33      294.69
87    153   9/3/2020 10:00     12.07      357.98

[88 rows x 4 columns]

In [187]:
df = pd.read_sql(
    ("SELECT Fecha, Potencia FROM Produccion WHERE Fecha BETWEEN '9/1/2020' AND '9/3/2020';"),conn)

In [188]:
df

             Fecha  Potencia
0    9/1/2020 6:00      0.00
1    9/1/2020 7:00      1.48
2    9/1/2020 8:00      9.61
3    9/1/2020 9:00     20.48
4   9/1/2020 10:00     32.41
5   9/1/2020 11:00     17.53
6   9/1/2020 12:00     19.60
7   9/1/2020 13:00     25.69
8   9/1/2020 14:00     33.07
9   9/1/2020 15:00     27.45
10  9/1/2020 16:00      7.69
11  9/1/2020 17:00      2.16
12  9/1/2020 18:00      1.87
13  9/1/2020 19:00      0.00
14   9/2/2020 7:00      0.01
15   9/2/2020 8:00      1.37
16   9/2/2020 9:00      5.02
17  9/2/2020 10:00     12.25
18  9/2/2020 11:00     13.72
19  9/2/2020 12:00      4.33
20  9/2/2020 13:00      5.73
21  9/2/2020 14:00      2.68
22  9/2/2020 15:00      4.75
23  9/2/2020 16:00      5.85
24  9/2/2020 17:00      7.51
25  9/2/2020 18:00      1.08
26  9/2/2020 19:00      0.00

In [195]:
df2 = pd.read_sql(
    ("SELECT Fecha, Potencia, Insolacion FROM Produccion WHERE Produccion.Insolacion > 90.0;"),conn)

In [197]:
df2

              Fecha  Potencia  Insolacion
0    8/28/2020 8:00     10.94      231.99
1    8/28/2020 9:00     26.58      522.53
2   8/28/2020 10:00     38.43      722.06
3   8/28/2020 11:00     36.25      646.36
4   8/28/2020 12:00     37.88      656.73
5   8/28/2020 13:00     53.12      952.67
6   8/28/2020 14:00     35.07      642.80
7   8/28/2020 15:00     28.59      676.24
8   8/28/2020 16:00     16.12      319.17
9   8/28/2020 17:00      8.78      118.76
10   8/29/2020 8:00     12.04      250.16
11   8/29/2020 9:00     31.04      620.78
12  8/29/2020 10:00     41.86      810.41
13  8/29/2020 11:00     46.29      872.28
14  8/29/2020 12:00     48.82      907.87
15  8/29/2020 13:00     16.31      283.17
16  8/29/2020 14:00     11.29      187.50
17  8/29/2020 15:00      9.03      146.94
18  8/29/2020 16:00      8.95      154.83
19   8/30/2020 9:00     15.02      254.50
20  8/30/2020 10:00     12.21      205.54
21  8/30/2020 11:00     23.25      389.17
22  8/30/2020 12:00     33.71      570.41
23  8/30/2020 13:00     25.48      407.10
24  8/30/2020 14:00     22.38      358.68
25  8/30/2020 15:00      9.06      148.87
26  8/30/2020 16:00     16.30      262.94
27  8/30/2020 17:00      7.03      118.31
28   8/31/2020 8:00     10.36      216.89
29   8/31/2020 9:00     26.50      528.24
30  8/31/2020 10:00     36.99      688.48
31  8/31/2020 11:00     50.58      932.51
32  8/31/2020 12:00     37.07      658.70
33  8/31/2020 13:00     45.29      800.52
34  8/31/2020 14:00     23.16      372.97
35  8/31/2020 15:00     11.47      193.70
36  8/31/2020 16:00      5.51       95.27
37    9/1/2020 8:00      9.61      174.14
38    9/1/2020 9:00     20.48      378.25
39   9/1/2020 10:00     32.41      585.56
40   9/1/2020 11:00     17.53      291.74
41   9/1/2020 12:00     19.60      327.05
42   9/1/2020 13:00     25.69      414.39
43   9/1/2020 14:00     33.07      572.75
44   9/1/2020 15:00     27.45      597.67
45   9/1/2020 16:00      7.69      137.63
46   9/2/2020 10:00     12.25      202.47
47   9/2/2020 11:00     13.72      236.94
48   9/2/2020 13:00      5.73      100.64
49   9/2/2020 16:00      5.85      102.64
50   9/2/2020 17:00      7.51      110.98
51    9/3/2020 8:00     10.95      232.14
52    9/3/2020 9:00     15.33      294.69
53   9/3/2020 10:00     12.07      357.98

### Valores más altos de Insolacion en lo que va de septiembre

In [203]:
altos = """
        SELECT 
            Fecha, Insolacion,Potencia
        FROM 
            Produccion
        WHERE
            Fecha > 9/1/2020
        ORDER BY 
            Insolacion DESC
        LIMIT 
            3
            """
df3 = pd.read_sql(altos,conn)

In [204]:
df3

             Fecha  Insolacion  Potencia
0  8/28/2020 13:00      952.67     53.12
1  8/31/2020 11:00      932.51     50.58
2  8/29/2020 12:00      907.87     48.82