In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### Se importan los datos del archivo .csv descargado de meteocontrol

In [15]:
datos = pd.read_csv('energia2.csv')
datos2 = pd.read_csv('Produccin.csv')

In [16]:
print(datos)

     Fecha Potencia [kW] Insolación [W/m²]
0     0:00             x              0.99
1     0:05             x              0.98
2     0:10             x              0.99
3     0:15             x              0.98
4     0:20             x              0.98
..     ...           ...               ...
286  23:50             x                 x
287  23:55             x                 x
288    NaN           NaN               NaN
289    NaN           NaN               NaN
290    NaN           NaN                 x

[291 rows x 3 columns]

#### Para facilidad, se cambian los nombres de las columnas

In [17]:
datos['Potencia'] = datos['Potencia [kW]']
datos['Insolacion'] = datos['Insolación [W/m²]']
datos = datos.drop(['Potencia [kW]', 'Insolación [W/m²]'],axis= "columns")

In [18]:
datos

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
286  23:50        x          x
287  23:55        x          x
288    NaN      NaN        NaN
289    NaN      NaN        NaN
290    NaN      NaN          x

[291 rows x 3 columns]

In [44]:
datos.iloc[0][0]

'5:45'

In [52]:
datos.loc[0]

KeyError: 0

## Para guardar el archivo modificado se usa el siguiente comando

In [21]:
datos.to_csv('energías.csv')

#### Comando para verificar si existen datos nulos en el dataFrame

In [22]:
datos

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
286  23:50        x          x
287  23:55        x          x
288    NaN      NaN        NaN
289    NaN      NaN        NaN
290    NaN      NaN          x

[291 rows x 3 columns]

In [23]:
datos.isnull()

     Fecha  Potencia  Insolacion
0    False     False       False
1    False     False       False
2    False     False       False
3    False     False       False
4    False     False       False
..     ...       ...         ...
286  False     False       False
287  False     False       False
288   True      True        True
289   True      True        True
290   True      True       False

[291 rows x 3 columns]

#### Este comando funciona para borrar datos nulos

In [24]:
datos.dropna() # Elimina las filas donde hay datos nulos

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
283  23:35        x          x
284  23:40        x          x
285  23:45        x          x
286  23:50        x          x
287  23:55        x          x

[288 rows x 3 columns]

In [25]:
datos.dropna(axis = 1) #Elimina las columnas donde hay datos nulos

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[291 rows x 0 columns]

In [26]:
datos

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
286  23:50        x          x
287  23:55        x          x
288    NaN      NaN        NaN
289    NaN      NaN        NaN
290    NaN      NaN          x

[291 rows x 3 columns]

##### Como se puede observar, al ejecutar estos comandos no se está afectando el dataframe original a no ser de que se iguale la variable al comando anterior.

In [27]:
datos1 = datos.dropna()
datos1

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
283  23:35        x          x
284  23:40        x          x
285  23:45        x          x
286  23:50        x          x
287  23:55        x          x

[288 rows x 3 columns]

#### Con el siguiente comando se reemplazan los valores nulos por el valor que se quiera

In [28]:
datos.fillna('Si ven que si')

             Fecha       Potencia     Insolacion
0             0:00              x           0.99
1             0:05              x           0.98
2             0:10              x           0.99
3             0:15              x           0.98
4             0:20              x           0.98
..             ...            ...            ...
286          23:50              x              x
287          23:55              x              x
288  Si ven que si  Si ven que si  Si ven que si
289  Si ven que si  Si ven que si  Si ven que si
290  Si ven que si  Si ven que si              x

[291 rows x 3 columns]

In [29]:
datos

     Fecha Potencia Insolacion
0     0:00        x       0.99
1     0:05        x       0.98
2     0:10        x       0.99
3     0:15        x       0.98
4     0:20        x       0.98
..     ...      ...        ...
286  23:50        x          x
287  23:55        x          x
288    NaN      NaN        NaN
289    NaN      NaN        NaN
290    NaN      NaN          x

[291 rows x 3 columns]

In [30]:
datos[datos['Potencia']=='x']=np.nan

In [31]:
datos = datos.dropna()

In [32]:
datos

     Fecha Potencia Insolacion
69    5:45        0       1.22
70    5:50        0       1.71
71    5:55        0       2.33
72    6:00     0.02       4.79
73    6:05     0.06       6.46
..     ...      ...        ...
211  17:35     0.54      15.27
212  17:40     0.65      16.11
213  17:45     0.74       17.7
214  17:50     0.47      14.44
215  17:55     0.13       7.75

[147 rows x 3 columns]

In [33]:
print(datos2)

              Fecha Potencia [kW] Insolación [W/m²]
0    8/28/2020 1:00             x              0.98
1    8/28/2020 2:00             x              0.98
2    8/28/2020 3:00             x              0.98
3    8/28/2020 4:00             x              0.97
4    8/28/2020 5:00             x              0.97
..              ...           ...               ...
163  9/3/2020 20:00             x                 x
164  9/3/2020 21:00             x                 x
165  9/3/2020 22:00             x                 x
166  9/3/2020 23:00             x                 x
167   9/4/2020 0:00             x                 x

[168 rows x 3 columns]

KeyError: 0

In [35]:
datos2 =datos2[datos2['Potencia [kW]']!= 'x']

In [39]:
datos2.iloc[0][0]

'8/28/2020 6:00'

In [40]:
datos2.loc[1]

KeyError: 1